/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0f0515;
}

h1, h2 {
  text-align: center;
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

button, input {
  font-size: 1.25em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

input {
  padding: .2em .4em;
  width: 100%;
  margin-bottom: .25em;
}

button {
  padding: .3em .6em;
  border: none;
  background-color: #3498e6;
  color: #fff;
  box-shadow: 0px 2px 2px #555;
  width: 11em;
}
button:hover, .tile:hover {
  cursor: pointer;
}
button:active {
  box-shadow: 1px 1px 2px #000 inset, -1px -1px 2px #000 inset;
}
.name-form-display {
}
.start-reset-btn {
  display: block;
  margin: 0 auto;
}
.start {
  background-color: #2d9d49;
}
.start:hover {
  background-color: #39bd5a;
}
.reset, .close {
  background-color: #bb3b34
}
.reset:hover, .close:hover {
  background-color: #dd4941;
}
.update-names {
  background-color: #bba634;
}
.update-names:hover {
  background-color: #d5bd3b;
}
[type="submit"] {
  width: 100%;
}

.display-row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Splash screen */
.splash-screen {
  margin-top: 20%;
  margin-bottom: 0;
}
.splash-screen button {
  width: 8em;
  margin-right: 0;
  margin-left: 0;
}

/* Form */
form {
  padding: 1em;
  background-color: #b7b3b3;
}

/* Message */
.message {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  color: #fff;
}

/* Board */
.board {
  flex-flow: column nowrap;
  border: 1px solid #000;
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.tile {
  flex: 0 0 33.33%;
  padding-top: .35em;
  padding-bottom: .35em;
  background-color: #ddd;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
}
::selection {
  background-color: #ddd;
}
.row > .tile:last-child {
  border-right: none;
}
.row:last-child > .tile {
  border-bottom: none;
}
[data-symbol='X'] {
  background-color: #3498e6;
  color: #fff;
}
[data-symbol='O'] {
  background-color: #ff4545;
  color: #000;
}

@media (max-width: 550px) {
  button, input {
    font-size: .95em;
  }
  .container {
    width: 86.66%;
  }
  .tile {
    font-size: 3.33em;
  }
  h1, .message {
    font-size: 1.85em;
  }
}
